/*reseteo de css ==> quitar los estilos por default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: rgb(117, 153, 153) ;}


img{
width: 450px;
height: 300px;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
display: inline;
}

.productos{
display: flex;
/*flex-direction: row; elementos en fila por default */
/*flex-direction: column; elementos en columna ordenados*/
/*flex-direction: row row-reverse; elementos en fila pero en reversa*/
/*flex-direction: column reverse; elementos en columna pero en reversa*/
flex-direction: row;
/*flex-wrap: nowrap; por default no hace un salto de linea cuando llega al final*/
flex-wrap: wrap; /*habilita el salto de linea cuando termina la ventana*/
align-content: stretch;
justify-content: space-evenly;

}

.menu{
    height: 100px;
    width: 350px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    list-style-type: none;/*para sacar puntos en los items*/
}

ul li{
    margin: 15px;
    font-size: 24px;
}

a{
    text text-decoration: none;
    color: black;
}

td{
    border: 2px solid black;
    padding: 18px;
    text-align: center;
}

.tablas{
    width: 80%;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}